/* font style link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Reset selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'poppins', sans-serif;
    background:#dfd6d6;
}


.errorMessage{
    color: red;
    font-weight: 500;
    display: none;
}
.container{
    height: 300px;
    border-radius: 12px;
    background: #b9b2b2;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    margin: 10px 15px 0px 15px;
}

#inputText{
    cursor: pointer;
    border-color: black;
    border-radius: 12px;
    font-weight: 700; 
    padding: 10px 5px 10px 5px;
    margin: 12px 0px 15px 0px;
}

#inputText::placeholder{
    text-align: center;
    color: #2c2b16;
    font-weight: 700; 
}


#submitBtn{
    width: 6.5em;
    height: 2.5em;
    border-radius: 12px;
    font-weight: 700;
    margin-bottom: 20px; 
   
}#submitBtn:hover{
    cursor: pointer;
    border-radius: 12px;
    font-weight: 700; 
}

#displayText{
    margin: 0px 15px;
    border-radius: 12px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}

.listItem{
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
    background: #b9b2b2;
    font-weight: 100;
}
.deleteBtn{
    margin: 0px 0px 0px 4px;
}
.deleteItem{
    height: 20px;
    color: grey;
}